PyQt5 # For GUI.
pywin32 # For core
polars # For CSV reading.
colorama # For console color.
gdown # For downloading files from Google Drive.
pystache # For text replacement.
pillow # For image processing.

# Add-ons
pillow-heif # HEIF Pillow supports.
pillow-avif-plugin # AVIF Pillow supports.