/*---------Link Btn------*/
QPushButton[buttonGroup="link"] {
    background-color: #235996;
    border: none;  
    outline: none;
    padding: 0px;
    color: #ffffff;
    border-radius: 5px;
}

QPushButton[buttonGroup="link"]:hover {
    background: #5c9ce6;
}

QPushButton[buttonGroup="link"]:pressed {
    background-color: #235996;
}