name: Release EXE converter

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt

    - name: Convert Python to EXE
      run: |
        pyinstaller --onefile index.py
        mkdir tao-slide-tot-nghiep
        move dist\index.exe tao-slide-tot-nghiep\

    - name: Add necessary files
      run: |
        xcopy assets tao-slide-tot-nghiep\assets /E /I
        xcopy translations tao-slide-tot-nghiep\translations /E /I
        copy settings.ini tao-slide-tot-nghiep\

    - name: Compress files into ZIP
      run: |
        cd tao-slide-tot-nghiep
        powershell Compress-Archive -Path * -DestinationPath ../tao-slide-tot-nghiep.zip

    - name: Upload to release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./tao-slide-tot-nghiep.zip
        asset_name: tao-slide-tot-nghiep.zip
        asset_content_type: application/zip
